* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: green;
}

.outcome {
  height: 8%;
  width: 60%;
  margin: auto;
  border: white 5px solid;
  border-radius: 25px;
  text-align: center;
  padding: 15px 0;
  background-color: black;
  color: white;
  font-size: 20px;
}

.button-options {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.btn {
  border: white solid 5px;
  border-radius: 25px;
  background-color: black;
  color: white;
  outline: none;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 20px;
  padding: 20px 0;
}

.btn--holder {
  width: 20%;
  margin: 0 10px;
}

.game-board {
  margin: 5px 0;
  height: 80%;
  width: 100%;
}

.hand {
  display: flex;
  justify-content: center;
  height: 45%;
  align-items: center;
}

.card {
  position: relative;
  display: inline;
  font: 16px "Trebuchet MS";

  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 10px;
  padding: 70px 0;
  width: 15%;
  height: 100%;
}

.score {
  font-size: 30px;
  margin: 10px 0;
}

.card h1 {
  margin-bottom: 10px;
}

.card--heart {
  color: red;
}

.card--heart::after {
  content: "♥";
  font-size: 60px;
}

.card--diamond {
  color: red;
}

.card--diamond::after {
  content: "♦️";
  font-size: 60px;
}

.card--spades {
}

.card--spades::after {
  content: "♠";
  font-size: 60px;
}

.card--clubs {
}

.card--clubs::after {
  content: "♣️";
  font-size: 60px;
}
